<h1>Edit semester</h1>
 
<%= form_with(model: @semester) do |form| %>
 
  <% if @semester.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@semester.errors.count, "error") %> prohibited
        this semester from being saved:
      </h2>
      <ul>
        <% @semester.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <%= form.radio_button :semester_num, 'S1' %> 
    <%= label :S1, 'Semester 1' %>
    <%= form.radio_button :semester_num, 'S2' %>
    <%= label :S2, 'Semester 2' %>
    <br>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <br>
    <%= form.label :start_date %><br>
    <%= date_field(:semester, :start_date) %>
    <br>
    <%= form.submit %>
 
<% end %>
 
<%= link_to 'Back', semesters_path %>
