<h1>New Semester</h1>

<%= form_with scope: :semester, url: semesters_path, local: true do |form| %>

    <%= form.radio_button :semester, 'semester_1' %> 
    <%= label :semester_1, 'Semester 1' %>
    <%= form.radio_button :semester, 'semester_2' %>
    <%= label :semester_2, 'Semester 2' %>
    <br>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <br>
    <%= form.label :start_date %><br>
    <%= date_field(:semester, :start_date) %>
    <br>
    <%= form.submit %>

<% end %>